/* section: window-list extension customizations */
/*
.bottom-panel.solid {
    background-color: rgba(0, 0, 0, 0.75);
}
*/

.window-list {
    spacing: 0 !important;
}

.window-button {
    padding: 3px !important;
}

.window-button:first-child:ltr {
    padding-left: 4px !important;
}

.window-button:last-child:rtl {
    padding-right: 4px !important;
}

.window-button > StWidget {
    box-shadow: none !important;
    text-shadow: none !important;
    background-color: transparent !important;
    padding: 2px 6px !important;
}

.window-button:hover > StWidget,
.window-button:focus > StWidget {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.window-button.focused > StWidget {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.window-button.focused:hover > StWidget,
.window-button.focused:focus > StWidget {
    background-color: rgba(255, 255, 255, 0.25) !important;
}
/* endsection */