/* Apparently we can't use custom properties in GNOME Shell's CSS or it will crash */
/* So we have to repeat some values here */

#panel .panel-button {
    color: #FFFFFF;
    text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
}

#panel .panel-button .system-status-icon,
#panel .panel-button .app-menu-icon>StIcon {
    icon-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
}

/* Additionally, use non-symbolic icons for the app menu */
#panel .panel-button .app-menu-icon {
    -st-icon-style: regular;
}
