/* section: window-list extension customizations */
.window-button {
    padding: 0 !important;
}

.window-button > StWidget {
    box-shadow: none !important;
    text-shadow: none !important;

    /* Assuming that the default panel color is always black */
    background-color: transparent !important;

    padding-top: 2px !important;
    padding-bottom: 2px !important;
    border-radius: 0 !important;
}

.window-button:hover > StWidget,
.window-button:focus > StWidget {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.window-button.focused > StWidget {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.window-button.focused:hover > StWidget,
.window-button.focused:focus > StWidget {
    background-color: rgba(255, 255, 255, 0.25) !important;
}
/* endsection */
